/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:300');
html{
  background-color:#2a2a2a ;
}
*{
  align-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.pointer {
  cursor: pointer;
}

.paper.container{
  margin-top:80px;
}

.hideSubmit{
  display: none;
}
#newList{
  border:none;
  margin-top:3%;
  font-size:40px;
}
#newItem{
  border:none;
  margin-top:3%;
  font-size:40px;
}
td{
  text-align:right;
}
.title{
  font-size:35px;
}
.hideClose{
  display:none;
}
.hideCloseX{
  display:none;
}
.showClose:hover .hideClose{
  display: block;
}
.complete:hover .hideCloseX{
  display: block;
}
/* .fade{
  opacity: 0.5;
  filter: alpha(opacity=50)
}
#newList:hover .fade{
  display:none;
} */


/* loading spinner */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
