<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a [routerLink]="['/dashboard']">Lets get some work done, {{currentUser.name}}!</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <button>
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
        <li class="mobile"><a [routerLink]="['/dashboard']"><i class="fas fa-home"></i></a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>