<app-navbar></app-navbar>
<div class="paper container">
  <h3>{{myList.title}}</h3>
  <div *ngIf="title.invalid && (title.dirty || title.touched)">
    <div *ngIf="title.errors.minlength" class="alert alert-danger">
      Item names must be at least 3 characters!
    </div>
  </div>
  <table class="table-hover">
    <thead>
      <tr>
        <td align="center"><i class="fas fa-plus fa-3x flex-middle fade"></i></td>

        <td>
          <form (submit)="newItem()">
            <div class="form-group">
              <input class="input-block" required minlength="3" placeholder="New Item" type="text" id="newItem" name="title" [(ngModel)]="item.title"
                #title="ngModel">
              <input type="submit" class="hideSubmit">
            </div>
          </form>
        </td>

      </tr>
    </thead>
    <tbody *ngIf="listItems">
      <tr *ngFor="let item of listItems" class="pointer title">
        <td class="showClose"><i class="fas fa-times red hideClose" (click)="deleteItem(item._id)"></i></td>
        <!-- replace the deleteList function with a modal that asks to confirm and offers the function instead -->
        <td *ngIf="item.checked" class="crossed" (click)="check(item._id)">{{item.title}}</td>
        <td *ngIf="!item.checked" (click)="check(item._id)">{{item.title}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>